@import "navbar"
@import "fonts"
@import "profile-card"
@import "projects-card"

$media-limit: 1000px
$dark-grey: #3b3b3b

html
  color-scheme: dark light

body
  font-family: 'Nunito', sans-serif
  font-weight: 300
  font-size: 1.3rem
  line-height: 1.4em
  display: grid
  grid-template-columns: 1fr 12fr 1fr
  grid-template-rows: 10vh 80vh 10vh
  grid-template-areas: ". header ." ". main ." ". footer ."
  @media only screen and (min-width: $media-limit) 
    grid-template-columns: 1fr 3fr 1fr

header
  grid-area: header

nav
  font-family: "JetBrains", monospace
  font-weight: 200
  font-size: 1.1rem

main
  grid-area: main

main ul
  list-style: none
  padding-left: 0

main a
  text-decoration: none
  color: white
  opacity: 0.6
  transition: opacity 150ms ease-in-out

main a:hover
  opacity: 1

h1, h2, h3, h4
  font-family: 'JetBrains', monospace
  font-weight: 500
  line-height: 1em

footer
  grid-area: footer

.index-date
  font-size: 1rem
  opacity: 0.6

.post-title
  margin-bottom: 0.2em

.post-date
  font-family: 'JetBrains', monospace
  font-weight: 200
  font-size: 1rem
  word-spacing: -0.3rem
  font-feature-settings: "zero"
  margin-top: 0.6em

.list
  font-family: "JetBrains", monospace
  font-weight: 200
  word-spacing: -0.3rem
  font-feature-settings: "zero"
  padding-bottom: 0.3em

.list a
  text-decoration: none
  opacity: 1
  @media only screen and (min-width: $media-limit) 
    opacity: 0.6
    transition: opacity 150ms ease-in-out

.list a:visited
  color: white
  
.list a:hover
  opacity: 1

.small-viewport
  display: block
  @media only screen and (min-width: $media-limit) 
    display: none

.large-viewport
  display: none
  @media only screen and (min-width: $media-limit) 
    display: block

.box
  display: flex
  flex-direction: column
  margin-bottom: 1em
  background-color: $dark-grey
  padding: 0.3em
  border-radius: 0.3em
