html {
  color-scheme: dark;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0 auto;
  padding: 1em;
  max-width: 600px;
}

h1 { font-size: 4.25rem; font-weight: 900; }
h2 { font-size: 2.75rem; font-weight: 300; }
h3 { font-size: 1.625rem; font-weight: 300; }

h1, h2, h3 { line-height: 1; }

li { list-style-type: none; }
