:root {
  color-scheme: light;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 100px minmax(calc(100svh - 200px), 1fr) 100px;
  grid-template-areas: "header header header" ". main ." "footer footer footer";
}

.dark-mode {
  color-scheme: dark;
}

@media screen and (min-width: 900px) {
  body {
    grid-template-columns: 1fr 600px 1fr;
  }
}

header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; background-color: lightgray; }

header {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 100px calc(100svh - 100px);
}

@media screen and (min-width: 900px) {
  header {
    grid-template-columns: 1fr 600px 1fr;
  }
}

nav {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  height: 100%;
  margin: 0;
  padding: 0;

  & li {
    list-style-type: none;
    opacity: 0.5;
  }

  & button {
    margin-left: auto;
    border-style: none;
  }
}

#theme-switch {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: Canvas;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  & svg { fill: CanvasText; opacity: 0.5; }
  & svg:hover { opacity: 1; }
  & svg:last-child { display: none; }
}

.dark-mode #theme-switch svg:first-child { display: none; }
.dark-mode #theme-switch svg:last-child { display: block; }

.blog-entries-container {
  height: calc(100% - 3em);
  margin-top: 1em;
  margin-bottom: 2em;

  & h2:first-child {
    margin-top: 0;
  }
}

.blog-entry-container {
  height: calc(100% - 3em);
  margin-top: 1em;
  padding-bottom: 2em;
}

h1 { font-size: 4.25rem; font-weight: 900; margin-top: 0; }
h2 { font-size: 2.75rem; font-weight: 300; }
h3 { font-size: 1.625rem; font-weight: 300; }

h1, h2, h3 { line-height: 1; }

a { color: inherit;}

time { opacity: 0.7; }

.current { opacity: 1; }
