html {
  color-scheme: light;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 100px minmax(calc(100vh - 200px), 1fr) 100px;
  grid-template-areas: "header header header" ". main ." "footer footer footer";
}

@media screen and (min-width: 900px) {
  body {
    grid-template-columns: 1fr 600px 1fr;
  }
}

header { grid-area: header; background-color: lightgray; }
main { grid-area: main; }
footer { grid-area: footer; background-color: lightgray; }

.blog-entries-container {
  height: calc(100% - 4em);
  margin-top: 2em;
  margin-bottom: 2em;
}

/* @media screen and (min-width: 900px) {
  .mobil-viewport {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .desktop-viewport {
    display: none;
  }
} */

.blog-entry-container {
  height: calc(100% - 4em);
  margin-top: 2em;
  padding-bottom: 2em;
}

h1 { font-size: 4.25rem; font-weight: 900; margin-top: 0; }
h2 { font-size: 2.75rem; font-weight: 300; }
h3 { font-size: 1.625rem; font-weight: 300; }

h1, h2, h3 { line-height: 1; }

a { color: inherit;}
